@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using HMMS_Bridge.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "HMMS Bridge Web API Help Page";

    // Group APIs by controller
    var displayList = new List<string> { "CSC", "HMMS"};

    @*ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.Where(api => api.ActionDescriptor.ControllerDescriptor.ControllerName != "").ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
        }*@


ILookup<HttpControllerDescriptor, ApiDescription>
apiGroups = Model.Where(api => displayList.Contains(api.ActionDescriptor.ControllerDescriptor.ControllerName)).ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Introduction</h2>
            <p>
                API's for interacting with VDOT's CSC
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
            {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
